.ananke-socials a{
  display: inline-block;
  vertical-align: middle;
  color: #BABABA;
  fill: currentColor;
}
.ananke-socials a .icon svg{
  width: 32px;
  height: 32px;
}
.ananke-socials a:hover {
  color: rgb(107, 114, 128);
}
.new-window {
  opacity: 0;
  display: inline-block;
  vertical-align: top;
}
.link-transition:hover .new-window{
  opacity: 1;
}
