# Documentation
# https://help.github.com/en/articles/about-code-owners

*                                        
/.github/workflows                       
/packages/cli/src/commands/domains      
/packages/cli/src/commands/certs        
/packages/cli/src/commands/env          
/packages/fs-detectors                   
/packages/node-bridge                    
/packages/next                           
/packages/routing-utils                  
/packages/edge                           
/examples                               
/examples/create-react-app               
/examples/nextjs                         
/examples/hugo                           
/examples/jekyll                        
/examples/zola                           
