openapi: 3.0.3
info:
  title: Vercel API
  description: >-
    Vercel combines the best developer experience with an obsessive focus on end-user performance. Our platform enables frontend teams to do their best work.
  contact:
    email: support@vercel.com
    name: Vercel Support
    url: https://vercel.com/support
  version: 0.0.1
servers:
  - url: https://api.vercel.com
    description: Production API
tags:
  - name: access-groups
    description: Access Groups
  - name: artifacts
    description: Artifacts
  - name: billing
    description: Billing
  - name: deployments
    description: Deployments
  - name: domains
    description: Domains
  - name: env
    description: Environment Variables
  - name: events
    description: Events
  - name: files
    description: Files
  - name: git
    description: Git
  - name: integrations
    description: Integrations
  - name: projects
    description: Projects
  - name: secrets
    description: Secrets
  - name: teams
    description: Teams
  - name: user
    description: User
  - name: webhooks
    description: Webhooks
paths:
  /v1/access-groups/{idOrName}:
    get:
      description: Allows to read an access group
      operationId: readAccessGroup
      security:
        - bearerToken: []
      summary: Reads an access group
      tags:
        - access-groups
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                properties:
                  isDsyncManaged:
                    type: boolean
                  name:
                    type: string
                    description: The name of this access group.
                    example: my-access-group
                  createdAt:
                    type: string
                    description: >-
                      Timestamp in milliseconds when the access group was created.
                    example: 1588720733602
                  teamId:
                    type: string
                    description: ID of the team that this access group belongs to.
                    example: team_123a6c5209bc3778245d011443644c8d27dc2c50
                  updatedAt:
                    type: string
                    description: >-
                      Timestamp in milliseconds when the access group was last updated.
                    example: 1588720733602
                  accessGroupId:
                    type: string
                    description: ID of the access group.
                    example: ag_123a6c5209bc3778245d011443644c8d27dc2c50
                  membersCount:
                    type: number
                    description: Number of members in the access group.
                    example: 5
                  projectsCount:
                    type: number
                    description: Number of projects in the access group.
                    example: 2
                required:
                  - isDsyncManaged
                  - name
                  - createdAt
                  - teamId
                  - updatedAt
                  - accessGroupId
                  - membersCount
                  - projectsCount
                type: object
        '400':
          description: One of the provided values in the request query is invalid.
        '401':
          description: ''
        '403':
          description: You do not have permission to access this resource.
        '404':
          description: ''
      parameters:
        - name: idOrName
          in: path
          required: true
          schema:
            type: string
        - description: The Team identifier to perform the request on behalf of.
          in: query
          name: teamId
          schema:
            type: string
        - description: The Team slug to perform the request on behalf of.
          in: query
          name: slug
          schema:
            type: string
      x-speakeasy-group: accessGroups
      x-speakeasy-name-override: read
    post:
      description: Allows to update an access group metadata
      operationId: updateAccessGroup
      security:
        - bearerToken: []
      summary: Update an access group
      tags:
        - access-groups
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessGroup'
        '400':
          description: |-
            One of the provided values in the request body is invalid.
            One of the provided values in the request query is invalid.
        '401':
          description: ''
        '403':
          description: You do not have permission to access this resource.
        '404':
          description: ''
      parameters:
        - name: idOrName
          in: path
          required: true
          schema:
            type: string
        - description: The Team identifier to perform the request on behalf of.
          in: query
          name: teamId
          schema:
            type: string
        - description: The Team slug to perform the request on behalf of.
          in: query
          name: slug
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                name:
                  type: string
                  description: The name of the access group
                  maxLength: 50
                  pattern: ^[A-z0-9_ -]+$
                  example: My access group
                projects:
                  type: array
                  items:
                    type: object
                    additionalProperties: false
                    required:
                      - role
                      - projectId
                    properties:
                      projectId:
                        type: string
                        maxLength: 256
                        example: prj_ndlgr43fadlPyCtREAqxxdyFK
                        description: The ID of the project.
                      role:
                        type: string
                        enum:
                          - ADMIN
                          - PROJECT_VIEWER
                          - PROJECT_DEVELOPER
                          - null
                        example: ADMIN
                        description: >-
                          The project role that will be added to this Access Group. \"null\" will remove this project level role.
                        nullable: true
                membersToAdd:
                  description: List of members to add to the access group.
                  type: array
                  items:
                    type: string
                membersToRemove:
                  description: List of members to remove from the access group.
                  type: array
                  items:
                    type: string
      x-speakeasy-group: accessGroups
      x-speakeasy-name-override: update
    delete:
      description: Allows to delete an access group
      operationId: deleteAccessGroup
      security:
        - bearerToken: []
      summary: Deletes an access group
      tags:
        - access-groups
      responses:
        '200':
          description: ''
        '400':
          description: One of the provided values in the request query is invalid.
        '401':
          description: ''
        '403':
          description: You do not have permission to access this resource.
        '404':
          description: ''
      parameters:
        - name: idOrName
          in: path
          required: true
          schema:
            type: string
        - description: The Team identifier to perform the request on behalf of.
          in: query
          name: teamId
          schema:
            type: string
        - description: The Team slug to perform the request on behalf of.
          in: query
          name: slug
          schema:
            type: string
      x-speakeasy-group: accessGroups
      x-speakeasy-name-override: delete
  /v1/access-groups/{idOrName}/members:
    get:
      description: List members of an access group
      operationId: listAccessGroupMembers
      security:
        - bearerToken: []
      summary: List members of an access group
      tags:
        - access-groups
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                properties:
                  members:
                    items:
                      properties:
                        avatar:
                          type: string
                        email:
                          type: string
                        uid:
                          type: string
                        username:
                          type: string
                        name:
                          type: string
                        createdAt:
                          type: string
                        teamRole:
                          type: string
                          enum:
                            - OWNER
                            - MEMBER
                            - DEVELOPER
                            - BILLING
                            - VIEWER
                            - CONTRIBUTOR
                      required:
                        - email
                        - uid
                        - username
                        - teamRole
                      type: object
                    type: array
                  pagination:
                    properties:
                      count:
                        type: number
                      next:
                        nullable: true
                        type: string
                    required:
                      - count
                      - next
                    type: object
                required:
                  - members
                  - pagination
                type: object
        '400':
          description: One of the provided values in the request query is invalid.
        '401':
          description: ''
        '403':
          description: You do not have permission to access this resource.
        '404':
          description: ''
      parameters:
        - name: idOrName
          description: The ID or name of the Access Group.
          in: path
          required: true
          schema:
            type: string
            description: The ID or name of the Access Group.
            example: ag_pavWOn1iLObbXLRiwVvzmPrTWyTf
        - name: limit
          description: Limit how many access group members should be returned.
          in: query
          required: false
          schema:
            description: Limit how many access group members should be returned.
            example: 20
            type: integer
            minimum: 1
            maximum: 100
        - name: next
          description: Continuation cursor to retrieve the next page of results.
          in: query
          required: false
          schema:
            description: Continuation cursor to retrieve the next page of results.
            type: string
        - name: search
          description: Search project members by their name, username, and email.
          in: query
          required: false
          schema:
            description: Search project members by their name, username, and email.
            type: string
        - description: The Team identifier to perform the request on behalf of.
          in: query
          name: teamId
          schema:
            type: string
        - description: The Team slug to perform the request on behalf of.
          in: query
          name: slug
          schema:
            type: string
      x-speakeasy-group: accessGroups
      x-speakeasy-name-override: listMembers
  /v1/access-groups:
    get:
      description: List access groups
      operationId: listAccessGroups
      security:
        - bearerToken: []
      summary: List access groups for a team, project or member
      tags:
        - access-groups
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                  - properties:
                      accessGroups:
                        items:
                          properties:
                            members:
                              items:
                                type: string
                              type: array
                            projects:
                              items:
                                type: string
                              type: array
                            isDsyncManaged:
                              type: boolean
                            name:
                              type: string
                              description: The name of this access group.
                              example: my-access-group
                            createdAt:
                              type: string
                              description: >-
                                Timestamp in milliseconds when the access group was created.
                              example: 1588720733602
                            teamId:
                              type: string
                              description: >-
                                ID of the team that this access group belongs to.
                              example: team_123a6c5209bc3778245d011443644c8d27dc2c50
                            updatedAt:
                              type: string
                              description: >-
                                Timestamp in milliseconds when the access group was last updated.
                              example: 1588720733602
                            accessGroupId:
                              type: string
                              description: ID of the access group.
                              example: ag_123a6c5209bc3778245d011443644c8d27dc2c50
                            membersCount:
                              type: number
                              description: Number of members in the access group.
                              example: 5
                            projectsCount:
                              type: number
                              description: Number of projects in the access group.
                              example: 2
                          required:
                            - isDsyncManaged
                            - name
                            - createdAt
                            - teamId
                            - updatedAt
                            - accessGroupId
                            - membersCount
                            - projectsCount
                          type: object
                        type: array
                      pagination:
                        properties:
                          count:
                            type: number
                          next:
                            nullable: true
                            type: string
                        required:
                          - count
                          - next
                        type: object
                    required:
                      - accessGroups
                      - pagination
                    type: object
        '400':
          description: One of the provided values in the request query is invalid.
        '401':
          description: ''
        '403':
          description: You do not have permission to access this resource.
        '404':
          description: ''
      parameters:
        - name: projectId
          description: Filter access groups by project.
          in: query
          schema:
            description: Filter access groups by project.
            example: prj_pavWOn1iLObbx3RowVvzmPrTWyTf
            type: string
        - name: search
          description: Search for access groups by name.
          in: query
          schema:
            description: Search for access groups by name.
            example: example
            type: string
        - name: membersLimit
          description: Number of members to include in the response.
          in: query
          schema:
            description: Number of members to include in the response.
            example: 20
            type: integer
            minimum: 1
            maximum: 100
        - name: projectsLimit
          description: Number of projects to include in the response.
          in: query
          schema:
            description: Number of projects to include in the response.
            example: 20
            type: integer
            minimum: 1
            maximum: 100
        - name: limit
          description: Limit how many access group should be returned.
          in: query
          schema:
            description: Limit how many access group should be returned.
            example: 20
            type: integer
            minimum: 1
            maximum: 100
        - name: next
          description: Continuation cursor to retrieve the next page of results.
          in: query
          schema:
            description: Continuation cursor to retrieve the next page of results.
            type: string
        - description: The Team identifier to perform the request on behalf of.
          in: query
          name: teamId
          schema:
            type: string
        - description: The Team slug to perform the request on behalf of.
          in: query
          name: slug
          schema:
            type: string
      x-speakeasy-group: accessGroups
      x-speakeasy-name-override: list
    post:
      description: Allows to create an access group
      operationId: createAccessGroup
      security:
        - bearerToken: []
      summary: Creates an access group
      tags:
        - access-groups
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                properties:
                  membersCount:
                    type: number
                  projectsCount:
                    type: number
                  name:
                    type: string
                    description: The name of this access group.
                    example: my-access-group
                  createdAt:
                    type: string
                    description: >-
                      Timestamp in milliseconds when the access group was created.
                    example: 1588720733602
                  teamId:
                    type: string
                    description: ID of the team that this access group belongs to.
                    example: team_123a6c5209bc3778245d011443644c8d27dc2c50
                  updatedAt:
                    type: string
                    description: >-
                      Timestamp in milliseconds when the access group was last updated.
                    example: 1588720733602
                  accessGroupId:
                    type: string
                    description: ID of the access group.
                    example: ag_123a6c5209bc3778245d011443644c8d27dc2c50
                required:
                  - membersCount
                  - projectsCount
                  - name
                  - createdAt
                  - teamId
                  - updatedAt
                  - accessGroupId
                type: object
        '400':
          description: One of the provided values in the request body is invalid.
        '401':
          description: ''
        '403':
          description: You do not have permission to access this resource.
        '404':
          description: ''
      parameters:
        - description: The Team identifier to perform the request on behalf of.
          in: query
          name: teamId
          schema:
            type: string
        - description: The Team slug to perform the request on behalf of.
          in: query
          name: slug
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - name
              properties:
                name:
                  type: string
                  description: The name of the access group
                  maxLength: 50
                  pattern: ^[A-z0-9_ -]+$
                  example: My access group
                projects:
                  type: array
                  items:
                    type: object
                    additionalProperties: false
                    required:
                      - role
                      - projectId
                    properties:
                      projectId:
                        type: string
                        maxLength: 256
                        example: prj_ndlgr43fadlPyCtREAqxxdyFK
                        description: The ID of the project.
                      role:
                        type: string
                        enum:
                          - ADMIN
                          - PROJECT_VIEWER
                          - PROJECT_DEVELOPER
                        example: ADMIN
                        description: >-
                          The project role that will be added to this Access Group. \"null\" will remove this project level role.
                        nullable: true
                membersToAdd:
                  description: List of members to add to the access group.
                  type: array
                  items:
                    type: string
      x-speakeasy-group: accessGroups
      x-speakeasy-name-override: create
  /v1/access-groups/{idOrName}/projects:
    get:
      description: List projects of an access group
      operationId: listAccessGroupProjects
      security:
        - bearerToken: []
      summary: List projects of an access group
      tags:
        - access-groups
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                properties:
                  projects:
                    items:
                      properties:
                        projectId:
                          type: string
                        role:
                          type: string
                          enum:
                            - ADMIN
                            - PROJECT_DEVELOPER
                            - PROJECT_VIEWER
                        createdAt:
                          type: string
                        updatedAt:
                          type: string
                        project:
                          properties:
                            name:
                              type: string
                            framework:
                              nullable: true
                              type: string
                            latestDeploymentId:
                              type: string
                          type: object
                      required:
                        - projectId
                        - role
                        - createdAt
                        - updatedAt
                        - project
                      type: object
                    type: array
                  pagination:
                    properties:
                      count:
                        type: number
                      next:
                        nullable: true
                        type: string
                    required:
                      - count
                      - next
                    type: object
                required:
                  - projects
                  - pagination
                type: object
        '400':
          description: One of the provided values in the request query is invalid.
        '401':
          description: ''
        '403':
          description: You do not have permission to access this resource.
        '404':
          description: ''
      parameters:
        - name: idOrName
          description: The ID or name of the Access Group.
          in: path
          required: true
          schema:
            type: string
            description: The ID or name of the Access Group.
            example: ag_pavWOn1iLObbXLRiwVvzmPrTWyTf
        - name: limit
          description: Limit how many access group projects should be returned.
          in: query
          required: false
          schema:
            description: Limit how many access group projects should be returned.
            example: 20
            type: integer
            minimum: 1
            maximum: 100
        - name: next
          description: Continuation cursor to retrieve the next page of results.
          in: query
          required: false
          schema:
            description: Continuation cursor to retrieve the next page of results.
            type: string
        - description: The Team identifier to perform the request on behalf of.
          in: query
          name: teamId
          schema:
            type: string
        - description: The Team slug to perform the request on behalf of.
          in: query
          name: slug
          schema:
            type: string
      x-speakeasy-group: accessGroups
      x-speakeasy-name-override: listProjects
  /v8/artifacts/events:
    post:
      description: >-
        Records an artifacts cache usage event. The body of this request is an array of cache usage events. The supported event types are `HIT` and `MISS`. The source is either `LOCAL` the cache event was on the users filesystem cache or `REMOTE` if the cache event is for a remote cache. When the event is a `HIT` the request also accepts a number `duration` which is the time taken to generate the artifact in the cache.
      operationId: recordEvents
      security:
        - bearerToken: []
      summary: Record an artifacts cache usage event
      tags:
        - artifacts
      responses:
        '200':
          description: Success. Event recorded.
        '400':
          description: |-
            One of the provided values in the request body is invalid.
            One of the provided values in the headers is invalid
        '401':
          description: ''
        '402':
          description: |-
            The account was soft-blocked for an unhandled reason.
            The account is missing a payment so payment method must be updated
        '403':
          description: >-
            You do not have permission to access this resource.

            The customer has reached their spend cap limit and has been paused. An owner can disable the cap or raise the limit in settings.

            The Remote Caching usage limit has been reached for this account for this billing cycle.

            Remote Caching has been disabled for this team or user. An owner can enable it in the billing settings.
      parameters:
        - in: header
          description: >-
            The continuous integration or delivery environment where this artifact is downloaded.
          schema:
            type: string
            description: >-
              The continuous integration or delivery environment where this artifact is downloaded.
            example: VERCEL
            maxLength: 50
          name: x-artifact-client-ci
        - in: header
          description: 1 if the client is an interactive shell. Otherwise 0
          schema:
            type: integer
            description: 1 if the client is an interactive shell. Otherwise 0
            example: 0
            minimum: 0
            maximum: 1
          name: x-artifact-client-interactive
        - description: The Team identifier to perform the request on behalf of.
          in: query
          name: teamId
          schema:
            type: string
        - description: The Team slug to perform the request on behalf of.
          in: query
          name: slug
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: false
                required:
                  - sessionId
                  - source
                  - hash
                  - event
                properties:
                  sessionId:
                    type: string
                    description: >-
                      A UUID (universally unique identifer) for the session that generated this event.
                  source:
                    type: string
                    enum:
                      - LOCAL
                      - REMOTE
                    description: >-
                      One of `LOCAL` or `REMOTE`. `LOCAL` specifies that the cache event was from the user's filesystem cache. `REMOTE` specifies that the cache event is from a remote cache.
                  event:
                    type: string
                    enum:
                      - HIT
                      - MISS
                    description: >-
                      One of `HIT` or `MISS`. `HIT` specifies that a cached artifact for `hash` was found in the cache. `MISS` specifies that a cached artifact with `hash` was not found.
                  hash:
                    type: string
                    example: 12HKQaOmR5t5Uy6vdcQsNIiZgHGB
                    description: The artifact hash
                  duration:
                    type: number
                    description: >-
                      The time taken to generate the artifact. This should be sent as a body parameter on `HIT` events.
                    example: 400
  /v8/artifacts/status:
    get:
      description: >-
        Check the status of Remote Caching for this principal. Returns a JSON-encoded status indicating if Remote Caching is enabled, disabled, or disabled due to usage limits.
      operationId: status
      security:
        - bearerToken: []
      summary: Get status of Remote Caching for this principal
      tags:
        - artifacts
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                properties:
                  status:
                    type: string
                    enum:
                      - disabled
                      - enabled
                      - over_limit
                      - paused
                required:
                  - status
                type: object
        '400':
          description: ''
        '401':
          description: ''
        '402':
          description: |-
            The account was soft-blocked for an unhandled reason.
            The account is missing a payment so payment method must be updated
        '403':
          description: You do not have permission to access this resource.
      parameters:
        - description: The Team identifier to perform the request on behalf of.
          in: query
          name: teamId
          schema:
            type: string
        - description: The Team slug to perform the request on behalf of.
          in: query
          name: slug
          schema:
            type: string
  /v8/artifacts/{hash}:
    put:
      description: >-
        Uploads a cache artifact identified by the `hash` specified on the path. The cache artifact can then be downloaded with the provided `hash`.
      operationId: uploadArtifact
      security:
        - bearerToken: []
      summary: Upload a cache artifact
      tags:
        - artifacts
      responses:
        '202':
          description: File successfully uploaded
          content:
            application/json:
              schema:
                properties:
                  urls:
                    items:
                      type: string
                    type: array
                    description: Array of URLs where the artifact was updated
                    example:
                      - >-
                        https://api.vercel.com/v2/now/artifact/12HKQaOmR5t5Uy6vdcQsNIiZgHGB
                required:
                  - urls
                type: object
        '400':
          description: |-
            One of the provided values in the request query is invalid.
            One of the provided values in the headers is invalid
            File size is not valid
        '401':
          description: ''
        '402':
          description: |-
            The account was soft-blocked for an unhandled reason.
            The account is missing a payment so payment method must be updated
        '403':
          description: >-
            You do not have permission to access this resource.

            The customer has reached their spend cap limit and has been paused. An owner can disable the cap or raise the limit in settings.

            The Remote Caching usage limit has been reached for this account for this billing cycle.

            Remote Caching has been disabled for this team or user. An owner can enable it in the billing settings.
      parameters:
        - in: header
          description: The artifact size in bytes
          required: true
          schema:
            description: The artifact size in bytes
            type: number
          name: Content-Length
        - in: header
          description: The time taken to generate the uploaded artifact in milliseconds.
          required: false
          schema:
            type: number
            description: The time taken to generate the uploaded artifact in milliseconds.
            example: 400
          name: x-artifact-duration
        - in: header
          description: >-
            The continuous integration or delivery environment where this artifact was generated.
          required: false
          schema:
            type: string
            description: >-
              The continuous integration or delivery environment where this artifact was generated.
            example: VERCEL
            maxLength: 50
          name: x-artifact-client-ci
        - in: header
          description: 1 if the client is an interactive shell. Otherwise 0
          required: false
          schema:
            type: integer
            description: 1 if the client is an interactive shell. Otherwise 0
            example: 0
            minimum: 0
            maximum: 1
          name: x-artifact-client-interactive
        - in: header
          description: >-
            The base64 encoded tag for this artifact. The value is sent back to clients when the artifact is downloaded as the header `x-artifact-tag`
          required: false
          schema:
            type: string
            description: >-
              The base64 encoded tag for this artifact. The value is sent back to clients when the artifact is downloaded as the header `x-artifact-tag`
            example: Tc0BmHvJYMIYJ62/zx87YqO0Flxk+5Ovip25NY825CQ=
            maxLength: 600
          name: x-artifact-tag
        - name: hash
          description: The artifact hash
          in: path
          required: true
          schema:
            example: 12HKQaOmR5t5Uy6vdcQsNIiZgHGB
            description: The artifact hash
            type: string
        - description: The Team identifier to perform the request on behalf of.
          in: query
          name: teamId
          schema:
            type: string
        - description: The Team slug to perform the request on behalf of.
          in: query
          name: slug
          schema:
            type: string
      requestBody:
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      x-speakeasy-name-override: upload
    get:
      description: >-
        Downloads a cache artifact indentified by its `hash` specified on the request path. The artifact is downloaded as an octet-stream. The client should verify the content-length header and response body.
      operationId: downloadArtifact
      security:
        - bearerToken: []
      summary: Download a cache artifact
      tags:
        - artifacts
      responses:
        '200':
          description: >-
            The artifact was found and is downloaded as a stream. Content-Length should be verified.
          content:
            application/json:
              schema:
                type: string
                format: binary
                description: >-
                  An octet stream response that will be piped to the response stream.
        '400':
          description: |-
            One of the provided values in the request query is invalid.
            One of the provided values in the headers is invalid
        '401':
          description: ''
        '402':
          description: |-
            The account was soft-blocked for an unhandled reason.
            The account is missing a payment so payment method must be updated
        '403':
          description: >-
            You do not have permission to access this resource.

            The customer has reached their spend cap limit and has been paused. An owner can disable the cap or raise the limit in settings.

            The Remote Caching usage limit has been reached for this account for this billing cycle.

            Remote Caching has been disabled for this team or user. An owner can enable it in the billing settings.
        '404':
          description: The artifact was not found
      parameters:
        - in: header
          description: >-
            The continuous integration or delivery environment where this artifact is downloaded.
          schema:
            type: string
            description: >-
              The continuous integration or delivery environment where this artifact is downloaded.
            example: VERCEL
            maxLength: 50
          name: x-artifact-client-ci
        - in: header
          description: 1 if the client is an interactive shell. Otherwise 0
          schema:
            type: integer
            description: 1 if the client is an interactive shell. Otherwise 0
            example: 0
            minimum: 0
            maximum: 1
          name: x-artifact-client-interactive
        - name: hash
          description: The artifact hash
          in: path
          required: true
          schema:
            example: 12HKQaOmR5t5Uy6vdcQsNIiZgHGB
            description: The artifact hash
            type: string
        - description: The Team identifier to perform the request on behalf of.
          in: query
          name: teamId
          schema:
            type: string
        - description: The Team slug to perform the request on behalf of.
          in: query
          name: slug
          schema:
            type: string
      x-speakeasy-name-override: download
    head:
      description: >-
        Check that a cache artifact with the given `hash` exists. This request returns response headers only and is equivalent to a `GET` request to this endpoint where the response contains no body.
      operationId: artifactExists
      security:
        - bearerToken: []
      summary: Check if a cache artifact exists
      tags:
        - artifacts
      responses:
        '200':
          description: The artifact was found and headers are returned
        '400':
          description: One of the provided values in the request query is invalid.
        '401':
          description: ''
        '402':
          description: |-
            The account was soft-blocked for an unhandled reason.
            The account is missing a payment so payment method must be updated
        '403':
          description: >-
            You do not have permission to access this resource.

            The customer has reached their spend cap limit and has been paused. An owner can disable the cap or raise the limit in settings.

            The Remote Caching usage limit has been reached for this account for this billing cycle.

            Remote Caching has been disabled for this team or user. An owner can enable it in the billing settings.
        '404':
          description: The artifact was not found
      parameters:
        - name: hash
          description: The artifact hash
          in: path
          required: true
          schema:
            example: 12HKQaOmR5t5Uy6vdcQsNIiZgHGB
            description: The artifact hash
            type: string
        - description: The Team identifier to perform the request on behalf of.
          in: query
          name: teamId
          schema:
            type: string
        - description: The Team slug to perform the request on behalf of.
          in: query
          name: slug
          schema:
            type: string
      x-speakeasy-name-override: exists
  /v8/artifacts:
    post:
      description: Query information about an array of artifacts.
      operationId: artifactQuery
      security:
        - bearerToken: []
      summary: Query information about an artifact
      tags:
        - artifacts
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                additionalProperties:
                  nullable: true
                  oneOf:
                    - properties:
                        size:
                          type: number
                        taskDurationMs:
                          type: number
                        tag:
                          type: string
                      required:
                        - size
                        - taskDurationMs
                      type: object
                    - properties:
                        error:
                          properties:
                            message:
                              type: string
                          required:
                            - message
                          type: object
                      required:
                        - error
                      type: object
                type: object
        '400':
          description: One of the provided values in the request body is invalid.
        '401':
          description: ''
        '402':
          description: |-
            The account was soft-blocked for an unhandled reason.
            The account is missing a payment so payment method must be updated
        '403':
          description: >-
            You do not have permission to access this resource.

            The customer has reached their spend cap limit and has been paused. An owner can disable the cap or raise the limit in settings.

            The Remote Caching usage limit has been reached for this account for this billing cycle.

            Remote Caching has been disabled for this team or user. An owner can enable it in the billing settings.
      parameters:
        - description: The Team identifier to perform the request on behalf of.
          in: query
          name: teamId
          schema:
            type: string
        - description: The Team slug to perform the request on behalf of.
          in: query
          name: slug
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - hashes
              properties:
                hashes:
                  items:
                    type: string
                  description: artifact hashes
                  type: array
      x-speakeasy-name-override: query
  /deployments/{deploymentId}/builds:
    get:
      operationId: listDeploymentBuilds
      description: >-
        Retrieves the list of builds given their deployment's unique identifier. No longer listed as public API as of May 2023.
      security: []
      tags: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                properties:
                  builds:
                    items:
                      properties:
                        id:
                          type: string
                          description: The unique identifier of the Build
                        deploymentId:
                          type: string
                          description: The unique identifier of the deployment
                        entrypoint:
                          type: string
                          description: The entrypoint of the deployment
                        readyState:
                          type: string
                          enum:
                            - INITIALIZING
                            - BUILDING
                            - UPLOADING
                            - DEPLOYING
                            - READY
                            - ARCHIVED
                            - ERROR
                            - QUEUED
                            - CANCELED
                          description: >-
                            The state of the deployment depending on the process of deploying, or if it is ready or in an error state
                        readyStateAt:
                          type: number
                          description: The time at which the Build state was last modified
                        scheduledAt:
                          nullable: true
                          type: number
                          description: >-
                            The time at which the Build was scheduled to be built
                        createdAt:
                          type: number
                          description: The time at which the Build was created
                        deployedAt:
                          type: number
                          description: The time at which the Build was deployed
                        createdIn:
                          type: string
                          description: The region where the Build was first created
                        use:
                          type: string
                          description: The Runtime the Build used to generate the output
                        config:
                          properties:
                            distDir:
                              type: string
                            forceBuildIn:
                              type: string
                            reuseWorkPathFrom:
                              type: string
                            zeroConfig:
                              type: boolean
                          type: object
                          description: An object that contains the Build's configuration
                        output:
                          items:
                            properties:
                              type:
                                type: string
                                enum:
                                  - lambda
                                  - file
                                  - edge
                                description: The type of the output
                              path:
                                type: string
                                description: >-
                                  The absolute path of the file or Serverless Function
                              digest:
                                type: string
                                description: The SHA1 of the file
                              mode:
                                type: number
                                description: The POSIX file permissions
                              size:
                                type: number
                                description: The size of the file in bytes
                              lambda:
                                nullable: true
                                properties:
                                  functionName:
                                    type: string
                                  deployedTo:
                                    items:
                                      type: string
                                    type: array
                                  memorySize:
                                    type: number
                                  timeout:
                                    type: number
                                  layers:
                                    items:
                                      type: string
                                    type: array
                                required:
                                  - functionName
                                  - deployedTo
                                type: object
                                description: >-
                                  If the output is a Serverless Function, an object containing the name, location and memory size of the function
                              edge:
                                nullable: true
                                properties:
                                  regions:
                                    nullable: true
                                    items:
                                      type: string
                                    type: array
                                    description: >-
                                      The regions where the edge function will be invoked. Only exists if the edge function as a regional edge function, see: https://vercel.com/docs/concepts/edge-network/regions#setting-edge-function-regions
                                required:
                                  - regions
                                type: object
                                description: Exists if the output is an edge function.
                            required:
                              - path
                              - digest
                              - mode
                            type: object
                            description: >-
                              A list of outputs for the Build that can be either Serverless Functions or static files
                          type: array
                          description: >-
                            A list of outputs for the Build that can be either Serverless Functions or static files
                        fingerprint:
                          nullable: true
                          type: string
                          description: >-
                            If the Build uses the `@vercel/static` Runtime, it contains a hashed string of all outputs
                        copiedFrom:
                          type: string
                      required:
                        - id
                        - deploymentId
                        - entrypoint
                        - readyState
                        - output
                      type: object
                      description: An object representing a Build on Vercel
                    type: array
                required:
                  - builds
                type: object
        '400':
          description: One of the provided values in the request query is invalid.
        '401':
          description: ''
        '403':
          description: You do not have permission to access this resource.
        '404':
          description: Deployment was not found
      parameters:
        - name: deploymentId
          description: The deployment unique identifier
          in: path
          required: true
          schema:
            type: string
            description: The deployment unique identifier
  /v1/deployments/{deploymentId}/checks:
    post:
      description: >-
        Creates a new check. This endpoint must be called with an OAuth2 or it will produce a 400 error.
      operationId: createCheck
      security:
        - bearerToken: []
      summary: Creates a new Check
      tags:
        - checks
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  path:
                    type: string
                  status:
                    type: string
                    enum:
                      - registered
                      - running
                      - completed
                  conclusion:
                    type: string
                    enum:
                      - canceled
                      - failed
                      - neutral
                      - succeeded
                      - skipped
                      - stale
                  blocking:
                    type: boolean
                  output:
                    properties:
                      metrics:
                        properties:
                          FCP:
                            properties:
                              value:
                                nullable: true
                                type: number
                              previousValue:
                                type: number
                              source:
                                type: string
                                enum:
                                  - web-vitals
                            required:
                              - value
                              - source
                            type: object
                          LCP:
                            properties:
                              value:
                                nullable: true
                                type: number
                              previousValue:
                                type: number
                              source:
                                type: string
                                enum:
                                  - web-vitals
                            required:
                              - value
                              - source
                            type: object
                          CLS:
                            properties:
                              value:
                                nullable: true
                                type: number
                              previousValue:
                                type: number
                              source:
                                type: string
                                enum:
                                  - web-vitals
                            required:
                              - value
                              - source
                            type: object
                          TBT:
                            properties:
                              value:
                                nullable: true
                                type: number
                              previousValue:
                                type: number
                              source:
                                type: string
                                enum:
                                  - web-vitals
                            required:
                              - value
                              - source
                            type: object
                          virtualExperienceScore:
                            properties:
                              value:
                                nullable: true
                                type: number
                              previousValue:
                                type: number
                              source:
                                type: string
                                enum:
                                  - web-vitals
                            required:
                              - value
                              - source
                            type: object
                        required:
                          - FCP
                          - LCP
                          - CLS
                          - TBT
                        type: object
                    type: object
                  detailsUrl:
                    type: string
                  integrationId:
                    type: string
                  deploymentId:
                    type: string
                  externalId:
                    type: string
                  createdAt:
                    type: number
                  updatedAt:
                    type: number
                  startedAt:
                    type: number
                  completedAt:
                    type: number
                  rerequestable:
                    type: boolean
                required:
                  - id
                  - name
                  - status
                  - blocking
                  - integrationId
                  - deploymentId
                  - createdAt
                  - updatedAt
                type: object
        '400':
          description: |-
            One of the provided values in the request body is invalid.
            One of the provided values in the request query is invalid.
            Cannot create check for finished deployment
            The provided token is not from an OAuth2 Client
        '401':
          description: ''
        '403':
          description: You do not have permission to access this resource.
        '404':
          description: The deployment was not found
      parameters:
        - name: deploymentId
          description: The deployment to create the check for.
          in: path
          required: true
          schema:
            description: The deployment to create the check for.
            example: dpl_2qn7PZrx89yxY34vEZPD31Y9XVj6
            type: string
        - description: The Team identifier to perform the request on behalf of.
          in: query
          name: teamId
          schema:
            type: string
        - description: The Team slug to perform the request on behalf of.
          in: query
          name: slug
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                name:
                  description: The name of the check being created
                  maxLength: 100
                  example: Performance Check
                  type: string
                path:
                  description: Path of the page that is being checked
                  type: string
                  maxLength: 255
                  example: /
                blocking:
                  description: Whether the check should block a deployment from succeeding
                  type: boolean
                  example: true
                detailsUrl:
                  description: URL to display for further details
                  type: string
                  example: http://example.com
                externalId:
                  description: An identifier that can be used as an external reference
                  type: string
                  example: 1234abc
                rerequestable:
                  description: >-
                    Whether a user should be able to request for the check to be rerun if it fails
                  type: boolean
                  example: true
              required:
                - name
                - blocking
              type: object
      x-speakeasy-name-override: create
    get:
      description: List all of the checks created for a deployment.
      operationId: getAllChecks
      security:
        - bearerToken: []
      summary: Retrieve a list of all checks
      tags:
        - checks
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                properties:
                  checks:
                    items:
                      properties:
                        completedAt:
                          type: number
                        conclusion:
                          type: string
                          enum:
                            - canceled
                            - failed
                            - neutral
                            - succeeded
                            - skipped
                            - stale
                        createdAt:
                          type: number
                        detailsUrl:
                          type: string
                        id:
                          type: string
                        integrationId:
                          type: string
                        name:
                          type: string
                        output:
                          properties:
                            metrics:
                              properties:
                                FCP:
                                  properties:
                                    value:
                                      nullable: true
                                      type: number
                                    previousValue:
                                      type: number
                                    source:
                                      type: string
                                      enum:
                                        - web-vitals
                                  required:
                                    - value
                                    - source
                                  type: object
                                LCP:
                                  properties:
                                    value:
                                      nullable: true
                                      type: number
                                    previousValue:
                                      type: number
                                    source:
                                      type: string
                                      enum:
                                        - web-vitals
                                  required:
                                    - value
                                    - source
                                  type: object
                                CLS:
                                  properties:
                                    value:
                                      nullable: true
                                      type: number
                                    previousValue:
                                      type: number
                                    source:
                                      type: string
                                      enum:
                                        - web-vitals
                                  required:
                                    - value
                                    - source
                                  type: object
                                TBT:
                                  properties:
                                    value:
                                      nullable: true
                                      type: number
                                    previousValue:
                                      type: number
                                    source:
                                      type: string
                                      enum:
                                        - web-vitals
                                  required:
                                    - value
                                    - source
                                  type: object
                                virtualExperienceScore:
                                  properties:
                                    value:
                                      nullable: true
                                      type: number
                                    previousValue:
                                      type: number
                                    source:
                                      type: string
                                      enum:
                                        - web-vitals
                                  required:
                                    - value
                                    - source
                                  type: object
                              required:
                                - FCP
                                - LCP
                                - CLS
                                - TBT
                              type: object
                          type: object
                        path:
                          type: string
                        rerequestable:
                          type: boolean
                        startedAt:
                          type: number
                        status:
                          type: string
                          enum:
                            - registered
                            - running
                            - completed
                        updatedAt:
                          type: number
                      required:
                        - createdAt
                        - id
                        - integrationId
                        - name
                        - rerequestable
                        - status
                        - updatedAt
                      type: object
                    type: array
                required:
                  - checks
                type: object
        '400':
          description: One of the provided values in the request query is invalid.
        '401':
          description: ''
        '403':
          description: You do not have permission to access this resource.
        '404':
          description: The deployment was not found
      parameters:
        - name: deploymentId
          description: The deployment to get all checks for
          in: path
          required: true
          schema:
            description: The deployment to get all checks for
            example: dpl_2qn7PZrx89yxY34vEZPD31Y9XVj6
            type: string
        - description: The Team identifier to perform the request on behalf of.
          in: query
          name: teamId
          schema:
            type: string
        - description: The Team slug to perform the request on behalf of.
          in: query
          name: slug
          schema:
            type: string
      x-speakeasy-name-override: list
  /v1/deployments/{deploymentId}/checks/{checkId}:
    get:
      description: Return a detailed response for a single check.
      operationId: getCheck
      security:
        - bearerToken: []
      summary: Get a single check
      tags:
        - checks
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  path:
                    type: string
                  status:
                    type: string
                    enum:
                      - registered
                      - running
                      - completed
                  conclusion:
                    type: string
                    enum:
                      - canceled
                      - failed
                      - neutral
                      - succeeded
                      - skipped
                      - stale
                  blocking:
                    type: boolean
                  output:
                    properties:
                      metrics:
                        properties:
                          FCP:
                            properties:
                              value:
                                nullable: true
                                type: number
                              previousValue:
                                type: number
                              source:
                                type: string
                                enum:
                                  - web-vitals
                            required:
                              - value
                              - source
                            type: object
                          LCP:
                            properties:
                              value:
                                nullable: true
                                type: number
                              previousValue:
                                type: number
                              source:
                                type: string
                                enum:
                                  - web-vitals
                            required:
                              - value
                              - source
                            type: object
                          CLS:
                            properties:
                              value:
                                nullable: true
                                type: number
                              previousValue:
                                type: number
                              source:
                                type: string
                                enum:
                                  - web-vitals
                            required:
                              - value
                              - source
                            type: object
                          TBT:
                            properties:
                              value:
                                nullable: true
                                type: number
                              previousValue:
                                type: number
                              source:
                                type: string
                                enum:
                                  - web-vitals
                            required:
                              - value
                              - source
                            type: object
                          virtualExperienceScore:
                            properties:
                              value:
                                nullable: true
                                type: number
                              previousValue:
                                type: number
                              source:
                                type: string
                                enum:
                                  - web-vitals
                            required:
                              - value
                              - source
                            type: object
                        required:
                          - FCP
                          - LCP
                          - CLS
                          - TBT
                        type: object
                    type: object
                  detailsUrl:
                    type: string
                  integrationId:
                    type: string
                  deploymentId:
                    type: string
                  externalId:
                    type: string
                  createdAt:
                    type: number
                  updatedAt:
                    type: number
                  startedAt:
                    type: number
                  completedAt:
                    type: number
                  rerequestable:
                    type: boolean
                required:
                  - id
                  - name
                  - status
                  - blocking
                  - integrationId
                  - deploymentId
                  - createdAt
                  - updatedAt
                type: object
        '400':
          description: One of the provided values in the request query is invalid.
        '401':
          description: ''
        '403':
          description: >-
            You do not have permission to access this resource.

            The provided token is not from an OAuth2 Client that created the Check
        '404':
          description: |-
            Check was not found
            The deployment was not found
      parameters:
        - name: deploymentId
          description: The deployment to get the check for.
          in: path
          required: true
          schema:
            description: The deployment to get the check for.
            example: dpl_2qn7PZrx89yxY34vEZPD31Y9XVj6
            type: string
        - name: checkId
          description: The check to fetch
          in: path
          required: true
          schema:
            description: The check to fetch
            example: check_2qn7PZrx89yxY34vEZPD31Y9XVj6
            type: string
        - description: The Team identifier to perform the request on behalf of.
          in: query
          name: teamId
          schema:
            type: string
        - description: The Team slug to perform the request on behalf of.
          in: query
          name: slug
          schema:
            type: string
      x-speakeasy-name-override: get
    patch:
      description: >-
        Update an existing check. This endpoint must be called with an OAuth2 or it will produce a 400 error.
      operationId: updateCheck
      security:
        - bearerToken: []
      summary: Update a check
      tags:
        - checks
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  path:
                    type: string
                  status:
                    type: string
                    enum:
                      - registered
                      - running
                      - completed
                  conclusion:
                    type: string
                    enum:
                      - canceled
                      - failed
                      - neutral
                      - succeeded
                      - skipped
                      - stale
                  blocking:
                    type: boolean
                  output:
                    properties:
                      metrics:
                        properties:
                          FCP:
                            properties:
                              value:
                                nullable: true
                                type: number
                              previousValue:
                                type: number
                              source:
                                type: string
                                enum:
                                  - web-vitals
                            required:
                              - value
                              - source
                            type: object
                          LCP:
                            properties:
                              value:
                                nullable: true
                                type: number
                              previousValue:
                                type: number
                              source:
                                type: string
                                enum:
                                  - web-vitals
                            required:
                              - value
                              - source
                            type: object
                          CLS:
                            properties:
                              value:
                                nullable: true
                                type: number
                              previousValue:
                                type: number
                              source:
                                type: string
                                enum:
                                  - web-vitals
                            required:
                              - value
                              - source
                            type: object
                          TBT:
                            properties:
                              value:
                                nullable: true
                                type: number
                              previousValue:
                                type: number
                              source:
                                type: string
                                enum:
                                  - web-vitals
                            required:
                              - value
                              - source
                            type: object
                          virtualExperienceScore:
                            properties:
                              value:
                                nullable: true
                                type: number
                              previousValue:
                                type: number
                              source:
                                type: string
                                enum:
                                  - web-vitals
                            required:
                              - value
                              - source
                            type: object
                        required:
                          - FCP
                          - LCP
                          - CLS
                          - TBT
                        type: object
                    type: object
                  detailsUrl:
                    type: string
                  integrationId:
                    type: string
                  deploymentId:
                    type: string
                  externalId:
                    type: string
                  createdAt:
                    type: number
                  updatedAt:
                    type: number
                  startedAt:
                    type: number
                  completedAt:
                    type: number
                  rerequestable:
                    type: boolean
                required:
                  - id
                  - name
                  - status
                  - blocking
                  - integrationId
                  - deploymentId
                  - createdAt
                  - updatedAt
                type: object
        '400':
          description: |-
            One of the provided values in the request body is invalid.
            One of the provided values in the request query is invalid.
            The provided token is not from an OAuth2 Client
        '401':
          description: ''
        '403':
          description: You do not have permission to access this resource.
        '404':
          description: |-
            Check was not found
            The deployment was not found
        '413':
          description: The output provided is too large
      parameters:
        - name: deploymentId
          description: The deployment to update the check for.
          in: path
          required: true
          schema:
            description: The deployment to update the check for.
            example: dpl_2qn7PZrx89yxY34vEZPD31Y9XVj6
            type: string
        - name: checkId
          description: The check being updated
          in: path
          required: true
          schema:
            description: The check being updated
            example: check_2qn7PZrx89yxY34vEZPD31Y9XVj6
            type: string
        - description: The Team identifier to perform the request on behalf of.
          in: query
          name: teamId
          schema:
            type: string
        - description: The Team slug to perform the request on behalf of.
          in: query
          name: slug
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                name:
                  description: The name of the check being created
                  maxLength: 100
                  example: Performance Check
                  type: string
                path:
                  description: Path of the page that is being checked
                  type: string
                  maxLength: 255
                  example: /
                status:
                  description: The current status of the check
                  enum:
                    - running
                    - completed
                conclusion:
                  description: The result of the check being run
                  enum:
                    - canceled
                    - failed
                    - neutral
                    - succeeded
                    - skipped
                detailsUrl:
                  description: >-
                    A URL a user may visit to see more information about the check
                  type: string
                  example: https://example.com/check/run/1234abc
                output:
                  description: The results of the check Run
                  type: object
                  properties:
                    metrics:
                      type: object
                      description: Metrics about the page
                      required:
                        - FCP
                        - LCP
                        - CLS
                        - TBT
                      additionalProperties: false
                      properties:
                        FCP:
                          type: object
                          required:
                            - value
                            - source
                          properties:
                            value:
                              type: number
                              example: 1200
                              description: First Contentful Paint value
                              nullable: true
                            previousValue:
                              type: number
                              example: 900
                              description: >-
                                Previous First Contentful Paint value to display a delta
                            source:
                              type: string
                              enum:
                                - web-vitals
                        LCP:
                          type: object
                          required:
                            - value
                            - source
                          properties:
                            value:
                              type: number
                              example: 1200
                              description: Largest Contentful Paint value
                              nullable: true
                            previousValue:
                              type: number
                              example: 1000
                              description: >-
                                Previous Largest Contentful Paint value to display a delta
                            source:
                              type: string
                              enum:
                                - web-vitals
                        CLS:
                          type: object
                          required:
                            - value
                            - source
                          properties:
                            value:
                              type: number
                              example: 4
                              description: Cumulative Layout Shift value
                              nullable: true
                            previousValue:
                              type: number
                              example: 2
                              description: >-
                                Previous Cumulative Layout Shift value to display a delta
                            source:
                              type: string
                              enum:
                                - web-vitals
                        TBT:
                          type: object
                          required:
                            - value
                            - source
                          properties:
                            value:
                              type: number
                              example: 3000
                              description: Total Blocking Time value
                              nullable: true
                            previousValue:
                              type: number
                              example: 3500
                              description: >-
                                Previous Total Blocking Time value to display a delta
                            source:
                              enum:
                                - web-vitals
                        virtualExperienceScore:
                          type: object
                          required:
                            - value
                            - source
                          properties:
                            value:
                              type: integer
                              maximum: 100
                              minimum: 0
                              example: 30
                              description: >-
                                The calculated Virtual Experience Score value, between 0 and 100
                              nullable: true
                            previousValue:
                              type: integer
                              maximum: 100
                              minimum: 0
                              example: 35
                              description: >-
                                A previous Virtual Experience Score value to display a delta, between 0 and 100
                            source:
                              enum:
                                - web-vitals
                externalId:
                  description: An identifier that can be used as an external reference
                  type: string
                  example: 1234abc
              type: object
      x-speakeasy-name-override: update
  /v1/deployments/{deploymentId}/checks/{checkId}/rerequest:
    post:
      description: Rerequest a selected check that has failed.
      operationId: rerequestCheck
      security:
        - bearerToken: []
      summary: Rerequest a check
      tags:
        - checks
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
        '400':
          description: One of the provided values in the request query is invalid.
        '401':
          description: ''
        '403':
          description: You do not have permission to access this resource.
        '404':
          description: |-
            The deployment was not found
            Check was not found
      parameters:
        - name: deploymentId
          description: The deployment to rerun the check for.
          in: path
          required: true
          schema:
            description: The deployment to rerun the check for.
            example: dpl_2qn7PZrx89yxY34vEZPD31Y9XVj6
            type: string
        - name: checkId
          description: The check to rerun
          in: path
          required: true
          schema:
            description: The check to rerun
            example: check_2qn7PZrx89yxY34vEZPD31Y9XVj6
            type: string
        - description: The Team identifier to perform the request on behalf of.
          in: query
          name: teamId
          schema:
            type: string
        - description: The Team slug to perform the request on behalf of.
          in: query
          name: slug
          schema:
            type: string
      x-speakeasy-name-override: rerequest
  /data-cache/purge-all:
    delete:
      operationId: datacachePurgeall
      description: ''
      security: []
      tags: []
      responses:
        '200':
          description: ''
        '400':
          description: One of the provided values in the request query is invalid.
        '401':
          description: ''
        '403':
          description: You do not have permission to access this resource.
        '404':
          description: ''
      parameters:
        - name: projectIdOrName
          in: query
          required: true
          schema:
            type: string
  /data-cache/billing-settings:
    patch:
      operationId: dataCacheBillingSettings
      description: ''
      security: []
      tags: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                properties:
                  excessBillingEnabled:
                    type: boolean
                type: object
        '400':
          description: One of the provided values in the request body is invalid.
        '401':
          description: ''
        '403':
          description: You do not have permission to access this resource.
        '404':
          description: ''
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                excessBillingEnabled:
                  type: boolean
  /v1/data-cache/projects/{projectId}:
    patch:
      description: Update the data cache feature on a project.
      operationId: updateProjectDataCache
      security:
        - bearerToken: []
      summary: Update the data cache feature
      tags:
        - projects
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                properties:
                  accountId:
                    type: string
                  analytics:
                    properties:
                      id:
                        type: string
                      canceledAt:
                        nullable: true
                        type: number
                      disabledAt:
                        type: number
                      enabledAt:
                        type: number
                      paidAt:
                        type: number
                      sampleRatePercent:
                        nullable: true
                        type: number
                      spendLimitInDollars:
                        nullable: true
                        type: number
                    required:
                      - id
                      - disabledAt
                      - enabledAt
                    type: object
                  speedInsights:
                    properties:
                      id:
                        type: string
                      enabledAt:
                        type: number
                      disabledAt:
                        type: number
                      canceledAt:
                        type: number
                      hasData:
                        type: boolean
                      paidAt:
                        type: number
                    required:
                      - id
                    type: object
                  autoExposeSystemEnvs:
                    type: boolean
                  autoAssignCustomDomains:
                    type: boolean
                  autoAssignCustomDomainsUpdatedBy:
                    type: string
                  buildCommand:
                    nullable: true
                    type: string
                  commandForIgnoringBuildStep:
                    nullable: true
                    type: string
                  connectConfigurationId:
                    nullable: true
                    type: string
                  connectBuildsEnabled:
                    type: boolean
                  createdAt:
                    type: number
                  customerSupportCodeVisibility:
                    type: boolean
                  crons:
                    properties:
                      enabledAt:
                        type: number
                        description: >-
                          The time the feature was enabled for this project. Note: It enables automatically with the first Deployment that outputs cronjobs.
                      disabledAt:
                        nullable: true
                        type: number
                        description: The time the feature was disabled for this project.
                      updatedAt:
                        type: number
                      deploymentId:
                        nullable: true
                        type: string
                        description: >-
                          The ID of the Deployment from which the definitions originated.
                      definitions:
                        items:
                          properties:
                            host:
                              type: string
                              description: The hostname that should be used.
                              example: vercel.com
                            path:
                              type: string
                              description: The path that should be called for the cronjob.
                              example: /api/crons/sync-something?hello=world
                            schedule:
                              type: string
                              description: The cron expression.
                              example: 0 0 * * *
                          required:
                            - host
                            - path
                            - schedule
                          type: object
                        type: array
                    required:
                      - enabledAt
                      - disabledAt
                      - updatedAt
                      - deploymentId
                      - definitions
                    type: object
                  dataCache:
                    properties:
                      userDisabled:
                        type: boolean
                      storageSizeBytes:
                        nullable: true
                        type: number
                      unlimited:
                        type: boolean
                    required:
                      - userDisabled
                    type: object
                  deploymentExpiration:
                    nullable: true
                    properties:
                      expirationDays:
                        type: number
                      expirationDaysProduction:
                        type: number
                      expirationDaysCanceled:
                        type: number
                      expirationDaysErrored:
                        type: number
                      deploymentsToKeep:
                        type: number
                    type: object
                  devCommand:
                    nullable: true
                    type: string
                  directoryListing:
                    type: boolean
                  installCommand:
                    nullable: true
                    type: string
                  env:
                    items:
                      properties:
                        target:
                          oneOf:
                            - items:
                                type: string
                                enum:
                                  - production
                                  - preview
                                  - development
                              type: array
                            - type: string
                              enum:
                                - production
                                - preview
                                - development
                        type:
                          type: string
                          enum:
                            - secret
                            - system
                            - encrypted
                            - plain
                            - sensitive
                        sunsetSecretId:
                          type: string
                          description: >-
                            This is used to identiy variables that have been migrated from type secret to sensitive.
                        id:
                          type: string
                        key:
                          type: string
                        value:
                          type: string
                        configurationId:
                          nullable: true
                          type: string
                        createdAt:
                          type: number
                        updatedAt:
                          type: number
                        createdBy:
                          nullable: true
                          type: string
                        updatedBy:
                          nullable: true
                          type: string
                        gitBranch:
                          type: string
                        edgeConfigId:
                          nullable: true
                          type: string
                        edgeConfigTokenId:
                          nullable: true
                          type: string
                        contentHint:
                          nullable: true
                          oneOf:
                            - properties:
                                type:
                                  type: string
                                  enum:
                                    - redis-url
                                storeId:
                                  type: string
                              required:
                                - type
                                - storeId
                              type: object
                            - properties:
                                type:
                                  type: string
                                  enum:
                                    - redis-rest-api-url
                                storeId:
[...]
