[workspace]
resolver = "3"
members = [
    "crates/*",
]

[workspace.package]
edition = "2024"
publish = false
rust-version = "1.90"

[workspace.dependencies]
wit-bindgen = { version = "0.51", features = ["macros"] }
wit-bindgen-rust = { version = "0.51" }
uv-pypi-types = { git = "https://github.com/astral-sh/uv", rev = "35d1e90961c1c2bd238ee6b015f970c0cf97f5d5" }
uv-normalize = { git = "https://github.com/astral-sh/uv", rev = "35d1e90961c1c2bd238ee6b015f970c0cf97f5d5" }
csv = "1.3.0"
serde = { version = "1", features = ["derive"] }
serde_json = "1"

[patch."https://github.com/astral-sh/uv"]
# Use local uv-fs that makes the `tokio` feature a no-op for wasm32-wasip2.
uv-fs = { path = "crates/uv-fs-patch" }

[profile.release]
opt-level = "z"
lto = true
codegen-units = 1
panic = "abort"
strip = true
