.vercel
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.DS_Store
.env*
.vercel

uv.lock

.mypy_cache/
.pyright/
.ruff_cache/
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/
.hypothesis/
*.cover
*.log
.env*.local
