{{/*
  socials/GetServiceDefaults
  Returns the defaults of any given service as stored in GetBuildInServicesDefaults

  @author @regisphilibert

  @context String (.)

  @access private

  @returns Map
    - String (.label)
      String (.color)
  @uses
     - func/socials/GetBuiltInServicesDefaults

*/}}
{{ $service_data := dict }}
{{ with partialCached "func/socials/GetBuiltInServicesDefaults" "socials/GetBuiltInServicesDefaults" }}
  {{/* If the passed context string (held in $) is found as a key of the map returned by the above returning partial
    We store it in the returning variable */}}
  {{ with index . $ }}
    {{ $service_data = . }}
  {{ end }}
{{ end  }}

{{ return $service_data }}