{{page-title "EmberQuickstart"}}

{{! The following component displays Ember's default welcome message. }}
<main>
  <h1>Hello from Ember</h1>
  <img src="/logo.svg" width="300" height="300" />
</main>
{{! Feel free to remove this! }}

{{outlet}}