body {
  align-content: center;
  box-sizing: border-box;
  display: grid;
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  hyphens: auto;
  line-height: 1.65;
  justify-content: center;
  margin: 0 auto;
  max-width: 680px;
  min-height: 100vh;
  padding: 72px 0;
  text-align: center;
}
h1 {
  font-size: 45px;
}
a {
  border-bottom: 1px solid white;
  color: #0076ff;
  cursor: pointer;
  font-size: 45px;
  text-decoration: none;
  transition: all 0.2s ease;
  width: fit-content;
}
a:hover {
  border-bottom: 1px solid #0076ff;
}
button {
  padding: 0.65em 1em;
  background: #0076ff;
  color: #fff;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.2s ease;
  width: fit-content;
}
button:hover {
  background: rgba(0, 118, 255, 0.8);
}
button:focus {
  box-shadow: 0 0 0 2px rgba(0, 118, 255, 0.5);
}
