name: Cancel
on:
  push:
    branches:
    - '**'
    - '!main'

jobs:
  cancel:
    name: 'Cancel Previous Runs'
    runs-on: ubuntu-latest
    timeout-minutes: 2
    steps:
      - uses: styfle/cancel-workflow-action@0.4.1
        with:
          workflow_id: 849295, 849296, 849297, 849298
          access_token: ${{ github.token }}

