name: E2E

on:
  push:
    branches:
    - master
    tags:
    - '!*'
  pull_request:

jobs:
  test:
    name: E2E
    timeout-minutes: 120
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 100
      - run: git --version
      - run: git fetch origin master --depth=100
      - run: git fetch origin ${{ github.ref }} --depth=100
      - run: git diff origin/master...HEAD --name-only
      - run: yarn install
      - run: yarn run build
      - run: yarn test-integration-once --clean false
        env:
          VERCEL_TEAM_TOKEN: ${{ secrets.VERCEL_TEAM_TOKEN }}
          VERCEL_REGISTRATION_URL: ${{ secrets.VERCEL_REGISTRATION_URL }}
