name: Unit

on:
  push:
    branches:
    - master
    tags:
    - '!*'
  pull_request:

jobs:
  test:
    name: Unit
    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        node: [10, 12]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 100
      - run: git --version
      - run: git fetch origin master --depth=100
      - run: git fetch origin ${{ github.ref }} --depth=100
      - run: git diff origin/master...HEAD --name-only
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
      - run: yarn install
      - run: yarn run build
      - run: yarn run lint
        if: matrix.os == 'ubuntu-latest' && matrix.node == 12 # only run lint once
      - run: yarn run test-unit --clean false
      - run: yarn workspace vercel run coverage
        if: matrix.os == 'ubuntu-latest' && matrix.node == 12 # only run coverage once
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
