<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>
      <${input.title}/>
    </title>
  </head>
  <body>
    <header>
      <img.logo src="./logo.png" alt="marko logo"/>
      <h1>
        <${input.title}/>
      </h1>
      <nav.menu>
        <a href="/">home</a>
        <a href="/hello/routing">routes</a>
        <a href="/layouts">layouts</a>
      </nav>
    </header>
    <div.content>
      <${input.content}/>
    </div>
  </body>
</html>
